*{
  margin: 0;
}
.app{
  background-color: #FAFAFA;
}
.app__header{
  position: sticky;
  top: 0;
  background: white;
  padding: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}
.logo{
  object-fit: contain;
  height: 6vh;
  
}
.app__signup{
  display: flex;
  flex-direction: column;
}
.app__posts{
  padding: 20px;
}
